<div class="container" (click)="focusOnInputField()">
  <div class="test-area-container mx-auto mb-5">
    <div
      *ngIf="multiplayer && !done && timeCountdown > 0"
      class="test-area-title title-timer mx-auto"
    >
      {{ math.round(this.timeCountdown) }}!
    </div>
    <!-- Creating race progress bars -->
    <div
      *ngIf="multiplayer && !done && timeCountdown <= 0"
      class="ape-race-container mx-auto"
    >
      <div class="apes w-100">
        <div *ngFor="let player of players" class="ape flex">
          <div class="ape-name">{{ player.nickname.padStart(longestNameLength, '&nbsp;') }}</div>
          <div class="progress-bar">
            <div class="ape-1" style="width: {{ player.progress }}%;">
              <span class="ape-span">
                <svg
                  version="1.0"
                  xmlns="http://www.w3.org/2000/svg"
                  width="1.5rem"
                  height="1.5rem"
                  viewBox="0 0 346.000000 383.000000"
                  preserveAspectRatio="xMidYMid meet"
                >
                  <g
                    transform="translate(0.000000,383.000000) scale(0.100000,-0.100000)"
                    stroke="none"
                  >
                    <path
                      style="fill: {{ player.color }}"
                      d="M2145 3792 c-255 -106 -476 -268 -661 -483 -90 -105 -169 -208 -163
         -213 2 -1 32 -22 67 -45 70 -47 187 -153 204 -185 13 -24 17 -27 -84 56 -124
         100 -237 138 -356 119 -176 -28 -306 -170 -374 -406 -20 -69 -23 -102 -23
         -240 0 -135 4 -174 24 -250 60 -231 173 -421 424 -712 67 -78 104 -129 102
         -140 -56 -269 -59 -304 -40 -378 23 -86 63 -146 197 -296 65 -72 123 -140 128
         -150 8 -14 0 -31 -39 -82 -63 -84 -85 -149 -78 -233 5 -72 15 -89 64 -109 107
         -45 308 -57 500 -30 97 14 249 47 259 57 2 2 9 79 16 170 25 345 -23 738 -158
         1297 -24 101 -44 188 -44 195 0 19 51 -64 85 -138 31 -66 69 -182 95 -283 l10
         -42 53 16 c28 8 74 26 100 40 27 13 51 22 54 20 8 -9 -18 -48 -73 -108 -59
         -64 -69 -89 -62 -153 5 -42 145 -381 215 -519 41 -83 41 -84 -71 -140 -64 -33
         -77 -44 -87 -74 -14 -43 -8 -208 9 -225 36 -36 349 -60 518 -38 54 6 107 16
         116 21 11 6 36 67 68 167 146 449 250 953 306 1471 23 220 16 592 -14 704 -66
         242 -247 418 -526 512 -97 33 -106 32 -106 -5 0 -16 -5 -63 -11 -105 -9 -61
         -15 -75 -29 -75 -46 0 -47 -11 -2 -55 24 -24 42 -50 40 -57 -2 -6 -24 -17 -49
         -23 -49 -13 -134 -54 -126 -61 3 -3 40 4 83 14 98 25 185 34 203 23 32 -20
         -40 -192 -108 -260 -22 -22 -60 -51 -86 -67 l-48 -28 -51 18 c-152 54 -236
         179 -202 303 7 26 17 56 21 65 7 17 5 17 -29 3 -78 -33 -211 -10 -288 48 -50
         39 -57 65 -29 111 l21 33 -22 49 c-24 54 -32 174 -12 194 14 14 193 -2 358
         -31 78 -14 112 -17 121 -9 7 6 55 28 107 48 85 34 93 39 90 62 -7 50 -41 88
         -109 122 l-66 34 -15 69 c-27 139 -104 286 -204 391 -63 67 -86 69 -213 16z"
                    />
                    <path
                      style="fill: {{ player.color }}"
                      d="M2695 3003 c-39 -13 -102 -16 -292 -17 -223 -1 -243 -2 -243 -18 0
         -24 55 -76 127 -121 71 -43 79 -42 160 22 l53 41 72 -20 c97 -27 112 -26 127
         8 18 37 51 122 48 121 -1 0 -24 -8 -52 -16z"
                    />
                    <path
                      style="fill: {{ player.color }}"
                      d="M2527 2825 c-17 -17 -21 -44 -11 -81 4 -16 12 -19 35 -16 35 5 38 29
         10 81 -16 31 -19 32 -34 16z"
                    />
                    <path
                      style="fill: {{ player.color }}"
                      d="M2600 2800 c17 -33 25 -40 51 -40 26 0 28 2 20 19 -10 19 -43 43 -74
         54 -16 6 -15 3 3 -33z"
                    />
                    <path
                      style="fill: {{ player.color }}"
                      d="M525 1964 c-218 -53 -302 -240 -236 -524 29 -125 34 -216 15 -283
         -20 -66 -38 -96 -141 -232 -141 -186 -170 -269 -161 -469 5 -100 39 -237 70
         -278 20 -26 247 -42 488 -34 107 3 210 9 228 12 30 6 32 9 32 51 0 64 -21 98
         -75 119 -38 14 -44 20 -39 38 8 26 322 648 334 660 5 5 34 2 69 -6 l61 -16 0
         28 c0 15 9 72 20 125 11 53 20 107 20 119 0 14 -31 58 -77 112 -171 197 -269
         336 -345 492 l-50 102 -77 -1 c-42 0 -103 -7 -136 -15z"
                    />
                    <path
                      style="fill: {{ player.color }}"
                      d="M1064 905 c-7 -19 -14 -39 -14 -45 0 -28 33 -69 89 -109 33 -25 68
         -55 76 -67 14 -21 12 -26 -26 -76 -48 -63 -48 -63 9 -254 l39 -129 39 -7 c21
         -4 56 -7 77 -7 33 -1 37 2 37 24 0 36 32 115 68 168 18 25 32 51 32 57 0 7
         -41 55 -91 108 -107 115 -182 222 -205 296 -16 51 -20 55 -60 65 -57 15 -53
         16 -70 -24z"
                    />
                  </g>
                </svg>
              </span>
              <span class="wpm-span">wpm: {{player.wpm}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!multiplayer" class="test-area-title mx-auto">Ape Smash!</div>
    <div *ngIf="!done" class="test-area-header col-12 d-flex">
      <div *ngIf="testConfig.type === 'time' || activeType==='time'" class="time-left">
        {{ math.round(this.timeLeft) }} s
      </div>
    </div>

    <div
      *ngIf="testcase && !done"
      class="test-area col-12 {{ blurTestArea ? 'blur' : '' }}"
    >
      <app-word
        #words
        *ngFor="let word of testcase; let id = index"
        [word]="word"
        [active]="active"
        [id]="id"
        [currentTyped]="currentTyped"
        (correct)="onCorrect($event)"
        (incorrect)="onIncorrect($event)"
        (submitWord)="harvestWordStatus($event)"
        [letterClear]="play"
      >
      </app-word>
      <!-- <div class="hidden-pad"></div> -->
      <input
        #inputText
        type="search"
        [ngModel]="currentTyped"
        class="form-control input-text"
        (keydown.Space)="goToNextWord($event)"
        (keydown.Backspace)="onBackspace()"
        (ngModelChange)="onChange($event)"
        [disabled]="multiplayer && !testStart"
      />
    </div>
    <div
      *ngIf="testcase && !done"
      class="focus-text {{ blurTestArea ? '' : 'hidden' }}"
    >
      {{multiplayer && timeCountdown > 0 ? "Get ready!" : "Click to focus."}}
    </div>
    <app-results
      class="results p-3 mb-2col-12 col-lg-10"
      *ngIf="done && resultTabIndex === 0"
      [wpm]="netwpm"
      [accuracy]="accuracy"
      [testData]="testData"
    ></app-results>
    <app-room-rankings
      class="rankings"
      *ngIf="multiplayer && done && resultTabIndex === 1"
      [setRankingData]="rankings"
    ></app-room-rankings>
    <div *ngIf="!testcase">Loading test...</div>
  </div>
  <div *ngIf="needToLogin && done" class="need-login mt-2">
    <div class="need-login-text">
      You need to login to save your tests.
      <span><a class="need-login-button" routerLink="/users">Login</a></span>
    </div>
  </div>
  <div class="icon-bar container d-flex justify-content-center">
    <fa-icon
      *ngIf="!multiplayer"
      [icon]="restartIcon"
      (click)="restart()"
      class="restart-icon"
    ></fa-icon>
    <fa-icon
      *ngIf="multiplayer && done"
      [icon]="nextIcon"
      (click)="nextTab()"
      class="restart-icon"
    ></fa-icon>
  </div>
</div>
