<!-- <div class="d-flex flex-column my-2 header">
    <div class="header-title mx-auto my-2">View Words.</div>
    <div class="input-container d-flex">
      <input
        [(ngModel)]="newWordInput"
        type="text"
        id="add-word"
        class="form-control w-50"
        placeholder="add a word"
      />
      <fa-icon
        class="icon-button"
        [icon]="checkMarkIcon"
        (click)="addWordHandler()"
      ></fa-icon>
    </div>
  </div>
  <div class="w-75 words">
    <ul class="text-center row">
      <li class="" *ngFor="let word of words">
        <app-test-source-word
          (onWordUpdated)="updateWordHandler($event)"
          (onWordDeleted)="deleteWordHandler($event)"
          [word]="word"
        ></app-test-source-word>
      </li>
    </ul>
  </div>
   -->